name: Deploy VibeDownloader

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
    - name: Baixar Código
      uses: actions/checkout@v4

    - name: Atualizar Código e Dependências
      run: |
        PROJECT_DIR="/root/VibeDownloader"
        
        # Garante a pasta e permissões
        if [ ! -d "$PROJECT_DIR" ]; then 
            git clone https://github.com/denilsude/VibeDownloader.git "$PROJECT_DIR"
        fi
        
        cd "$PROJECT_DIR"
        git fetch --all
        git reset --hard origin/main
        
        # Configura Python
        if [ ! -d "venv" ]; then python3 -m venv venv; fi
        ./venv/bin/pip install --upgrade pip
        ./venv/bin/pip install -r requirements.txt

    - name: Atualizar Serviço do Linux
      run: |
        # Copia o arquivo de serviço do repositório para o sistema
        sudo cp /root/VibeDownloader/vibe.service /etc/systemd/system/vibe.service
        sudo systemctl daemon-reload
        sudo systemctl enable vibe
        sudo systemctl restart vibe
        sudo systemctl status vibe --no-pager